<!-- bradcam_area -->
<div class="bradcam_area">
    <div class="single_bradcam  d-flex align-items-center bradcam_bg_1 overlay">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <div class="shape_1 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                            <img src="../assets/img/shape/shape_1.svg" alt="">
                        </div>
                        <div class="shape_2 wow fadeInDown" data-wow-duration="1s" data-wow-delay=".3s">
                            <img src="../assets/img/shape/shape_2.svg" alt="">
                        </div>
                        <h3 class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">FAQ</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area end -->


<!-- =======  F.A.Q Section ======= -->

<div class="row">
    <div class="col-6">
        <section id="faq" class="wow fadeInUp">

            <div class="container">

                <!-- <div class="section-header">
      <h2>F.A.Q </h2>
    </div> -->

                <div class="row justify-content-center">
                    <div class="col-lg-9">
                        <ul id="faq-list">

                            <div *ngFor="let item of faq_list">
                                <div *ngIf="item.ans_status=='1' && item.status=='1'">
                                    <li>
                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    {{item.Query_String}}
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <mat-label>{{item.reply_string}}</mat-label>
                                        </mat-expansion-panel>
                                    </li>

                                </div>

                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <div class="col-6 ">
        <div class="row " style="margin-right:60px;margin-top:80px; ">
            <form #faqform="ngForm" (ngSubmit)="saveDetails(faqform)">
                <div class="row ">
                    <div class="col-12 ">
                        <div class="form-group ">
                            <!-- <input placeholder="Name" (keypress)="onKeyPressText($event)" #name="ngModel" name="Name " [(ngModel)]="Name " type="text " class="form-control " required> -->
                            <textarea class="form-control w-100 " name="Question_asked" #que="ngModel" [(ngModel)]="Question_asked" cols="30 " rows="5" placeholder=" Enter you Query " required></textarea>
                            <mat-error *ngIf="que.hasError( 'required') && que.touched ">
                                Please write the Question.
                            </mat-error>
                        </div>
                    </div>
                    <div class="col-12 ">
                        <div class="form-group ">
                            <input placeholder="Email_id" #emaill="ngModel" name="Email_id" [(ngModel)]="Email_id" type="email" class="form-control" email required>
                            <mat-error *ngIf="emaill.hasError( 'required') && emaill.touched ">
                                Email ID is required.
                            </mat-error>
                            <mat-error *ngIf="emaill.hasError('email')">
                                Email id is invalid.
                            </mat-error>
                        </div>
                    </div>
                </div>
                <div class="form-group mt-3 ">
                    <button mat-stroked-button color="warn" type="submit " style="width: 100px;" [disabled]="!(faqform.valid)" (click)="onSubmit()">Send</button>
                </div>
            </form>

        </div>
    </div>


    <!-- <form class="form-contact contact_form " action="contact_process.php " method="post " id="contactForm " novalidate="novalidate ">
                  <div class="row ">
                      <div class="col-12 ">
                          <div class="form-group ">
                              <textarea class="form-control w-100 " name="message " id="message " cols="30 " rows="9 " onfocus="this.placeholder='' " onblur="this.placeholder='Enter Message' " placeholder=" Enter Message "></textarea>
                          </div>
                      </div>
                      <div class="col-sm-6 ">
                          <div class="form-group ">
                              <input class="form-control valid " name="name " id="name " type="text " onfocus="this.placeholder='' " onblur="this.placeholder='Enter your name' " placeholder="Enter your name ">
                          </div>
                      </div>
                      <div class="col-sm-6 ">
                          <div class="form-group ">
                              <input class="form-control valid " name="email " id="email " type="email " onfocus="this.placeholder='' " onblur="this.placeholder='Enter email address' " placeholder="Email ">
                          </div>
                      </div>
                      <div class="col-12 ">
                          <div class="form-group ">
                              <input class="form-control " name="subject " id="subject " type="text " onfocus="this.placeholder='' " onblur="this.placeholder='Enter Subject' " placeholder="Enter Subject ">
                          </div>
                      </div>
                  </div>
                  <div class="form-group mt-3 ">
                      <button type="submit " class="button button-contactForm boxed-btn ">Send</button>
                  </div>
              </form> -->
</div>


<!-- End  F.A.Q Section -->