<div class="bradcam_area">
    <div class="single_bradcam  d-flex align-items-center bradcam_bg_1 overlay">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <div class="shape_1 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                            <img src="../assets/img/shape/shape_1.svg" alt="">
                        </div>
                        <div class="shape_2 wow fadeInDown" data-wow-duration="1s" data-wow-delay=".3s">
                            <img src="../assets/img/shape/shape_2.svg" alt="">
                        </div>
                        <h3 class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">Contact</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area end -->

<!-- ================ contact section start ================= -->
<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="contact-title">Get in Touch</h2>
            </div>
            <div class="col-lg-8">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14238.1706790926!2d75.8283469!3d26.8544946!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xaaf1af30990235b7!2sBirla%20Institute%20of%20Technology%20Mesra%2C%20Jaipur%20Campus!5e0!3m2!1sen!2sin!4v1590694650647!5m2!1sen!2sin"
                    width="" height="" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="col-lg-3 offset-lg-1">
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-home"></i></span>
                    <div class="media-body">
                        <h2>Birla Institute of Technology, Jaipur</h2>
                        <p style="font-size: 15px;">27, Central Road, Apex Cir, Malviya Nagar Industrial Area, Malviya Nagar, Jaipur, Rajasthan 302017</p>
                    </div>
                </div>
                <br>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                    <div class="media-body">
                        <h2>0141 401 9798</h2>
                        <p style="font-size: 15px;">Mon to Fri 9am to 5:30pm</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-email"></i></span>
                    <div class="media-body">
                        <h2>bitjaipur@bitmesra.ac.in</h2>
                        <p style="font-size: 15px;">Send us your query anytime!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================ contact section end ================= -->
