<div class="bg">
    <div class="login-box">
        <h2>Login</h2>
        <form #resetpasswordform="ngForm">
            <div class="user-box">
                <!-- <input type="text" name="" required=""> -->
                <input #otp="ngModel" name="OTP" [(ngModel)]="OTP" type="number" class="form-control" required>
                <mat-error *ngIf="otp.hasError( 'required') && otp.touched ">
                    OTP is required.
                </mat-error>
                <label>OTP</label>
            </div>
            <br>
            <div class="user-box">
                <!-- <input type="password"> -->
                <input #pass="ngModel" name="Password" [(ngModel)]="Password" type="password" class="form-control" required>
                <mat-error *ngIf="pass.hasError( 'required') && pass.touched ">
                    Password is required.
                </mat-error>
                <label>Password</label>
            </div>
            <div class="user-box">
                <!-- <input type="password"> -->
                <input #cpass="ngModel" name="Confirm_Password" [(ngModel)]="Confirm_Password" type="password" class="form-control" required>
                <mat-error *ngIf="!(cpass.value==pass.value) && cpass.touched ">
                    Confirm Password does not match.
                </mat-error>
                <label>Confirm Password</label>
            </div>
            <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div *ngIf="resetpasswordform.valid && pass.value==cpass.value">
                <a (click)="onResetPassword()">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span> Reset Password
                </a>
            </div>

        </form>

    </div>
</div>