<div class="bg">
    <div class="login-box">
        <h2>Forget Password</h2>
        <form>
            <div class="user-box">
                <!-- <input type="text" name="" required=""> -->
                <input #emaill="ngModel" name="Email_id" [(ngModel)]="Email_id" type="email" class="form-control" email required>
                <mat-error *ngIf="emaill.hasError( 'required') && emaill.touched ">
                    Email ID is required.
                </mat-error>
                <mat-error *ngIf="emaill.hasError('email')">
                    Email id is invalid.
                </mat-error>

                <label>Username</label>
            </div>
            <br>

            <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a (click)="onGetPassword()" *ngIf=emaill.valid>
                <span></span>
                <span></span>
                <span></span>
                <span></span> Get Password
            </a>

        </form>

    </div>
</div>